// ------- LATO ------- // 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$lato: 'Lato', sans-serif;

// ------- OPEN SANS ------- // 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$open-sans: 'Open Sans', sans-serif;

// ------- ROBOTO ------- // 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

$roboto: 'Roboto', sans-serif;
