// ------- FONTS ------- //
@import '../scss/_fonts.scss';

// ------- GLOBAL SETTINGS ------- //
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

body {
    font-family: $lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

// ------- HEADER ------- //
.header {
    background-color: #287be8;
    padding-top: 1px;

    // ------- HEADER-TOP ------- //
    // .header-top
    &-top {
        background-color: #fff;

        // .header-top__wrapper
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0;
        }
    }

    // .header-nav
    &-nav {

        // .header-nav__list
        &__list {
            display: flex;
            justify-content: space-between;
        }

        // .header-nav__item
        &__item {
            margin-left: 40px;
        }

        // .header-nav__link
        &__link {
            font-family: $open-sans;
            font-weight: 700;
            text-transform: uppercase;
            color: #2f3f54;
            font-size: 14px;
            padding: 5px 0 3px;
            transition: all 0.5s;
            border-bottom: 2px solid transparent;

            &:hover {
                color: #62aaff;
                border-bottom: 2px solid #62aaff;
            }
        }
    }

    // ------- HEADER-BODY ------- //

    &-body {
        padding: 150px 0 180px;

        // .header-body__wrapper
        &__wrapper {
            display: flex;
        }

    }

    // .header-description
    &-description {
        color: #fff;

        // .header-description__title
        &__title {
            margin-bottom: 15px;

            & p {
                margin: 10px 0;

            }

            & h1 {
                font-family: $roboto;
                font-weight: 900;
                font-size: 48px;
                line-height: 52px;
                text-transform: uppercase;

            }
        }

        // .header-description__subtitle
        &__subtitle {
            margin-bottom: 30px;

            & h2 {
                font-weight: 700;
                font-size: 19px;
                margin-bottom: 8px;
            }
        }

        // .header-description__list
        &__list {
            margin-bottom: 50px;
        }

        // .header-description__item
        &__item {
            position: relative;
            margin-bottom: 6px;
            padding-left: 25px;

            &::before {
                content: "";

                position: absolute;
                width: 13px;
                height: 13px;
                top: 1px;
                left: 0;
                background: url(../images/header/check-icon.png);
            }

            & span {
                display: inline-block;
                padding-left: 20px;
                position: relative;

                &::before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    left: 2px;
                    position: absolute;
                    background: url(../images/header/wp-logo.png);
                }
            }
        }

        // .header-description__button
        &__button {
            margin-bottom: 15px;

            & a {
                text-transform: uppercase;
                border: 3px solid #fff;
                display: inline-block;
                padding: 15px 50px;
                border-radius: 26px;
                transition: all 0.5s;

                &:hover {
                    background: #fff;
                    color: #287be8;
                }
            }

        }
    }

    // .header-picture
    &-picture {
        position: relative;


        // .header-picture__image
        &__image {
            margin-left: 45px;
        }

        // .header-picture__text
        &__text {
            position: absolute;
            top: -38px;
            right: -112px;
            display: flex;
            flex-direction: column;
            background: #fff;
            width: 230px;
            height: 230px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;

            & .right {
                text-align: right;
            }

            & h3 {
                font-size: 54px;
                font-weight: 700;
            }
        }
    }
}

// ------- DESCRIPTION ------- //
.description {
    padding-top: 150px;
    padding-bottom: 175px;

    // .description-text
    &-text {
        margin-bottom: 120px;
        text-align: center;

        & span {

            &.blue {
                color: #2575e7;
            }

            &.red {
                color: #e74c3c;
            }

            &.green {
                color: #42d6c1;
            }
        }

        // .description-text__title
        &__title {
            font-family: $roboto;
            font-weight: 700;
            font-size: 40px;
            color: #2f3f54;

            margin-bottom: 50px;
        }

        // .description-text__descr
        &__descr {
            max-width: 600px;
            margin: 0 auto;

            line-height: 24px;

            color: #4a6385;
        }
    }

    // .description-cards
    &-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    // .description-card
    &-card {
        flex: 0 1 360px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow: hidden;

        box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.10);

        // .description-card__price
        &__price {
            display: flex;
            align-items: flex-end;
            margin: 0 auto 44px;

            font-family: $roboto;
            color: #fff;
            font-weight: 700;

            & span {

                &.banknote {
                    font-size: 23px;
                    line-height: 21px;
                }

                &.number {
                    font-size: 33px;
                    line-height: 28px;
                }

                &.period {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            &-wrapper {
                width: 320px;
                height: 440px;
                border-radius: 160px / 220px;

                background-color: #267ae9;

                margin-top: -345px;
                margin-bottom: 20px;

                display: flex;
                align-self: center;
            }

        }

        // .description-card__picture
        &__picture {
            text-align: center;
            height: 125px;
            display: inline-block;
            position: relative;

            margin-bottom: 45px;

            & img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        // .description-card__title
        &__title {
            font-family: $roboto;
            font-weight: 700;
            font-size: 32px;
            color: #267ae9;

            padding: 0px 50px;
            margin-bottom: 27px;
        }

        // .description-card__descr
        &__descr {
            color: #4a6385;
            line-height: 24px;

            padding: 0px 50px;
            margin-bottom: 57px;
        }

        // .description-card__features
        &__features {
            font-family: $roboto;
            font-size: 16px;
            font-weight: 400;
            color: #4a6385;

            padding: 0px 50px;
            margin-bottom: 55px;
        }

        // .description-card__feature
        &__feature {
            position: relative;

            padding-left: 35px;
            margin-bottom: 20px;

            &::before {
                content: "";

                position: absolute;
                width: 15px;
                height: 11px;
                top: 4px;
                left: 0;
                background: url(../images/description/icon-check.png);
            }
        }

        // .description-card__button
        &__button {
            text-align: center;
            margin-top: auto;

            & a {
                display: inline-block;

                background-color: #267ae9;
                border: 2px solid transparent;

                font-family: $roboto;
                font-weight: 500;
                text-transform: capitalize;
                color: #fff;
                letter-spacing: 1px;

                width: 100%;
                padding: 18px 0px;

                transition: all .5s;

                &:hover {
                    background-color: rgba(#267ae9, 0.10);
                    border: 2px solid #267ae9;
                    color: #267ae9;
                }
            }
        }
    }
}

// ------- ABOUT ------- //
.about {
    background-color: #fafafa;
}